<<<<<<< HEAD
@import "tailwindcss";

@theme {
  /* --breakpoint-- */
}

@layer components {
  /* .custom-range {
    appearance: none;
  } */
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
  }
  .custom-border2 {
    border: 1px solid rgb(219, 211, 211);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .custom-border {
    border: 1px solid rgb(219, 214, 214);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .custom-bg {
    background-image: repeating-linear-gradient(
        to right,
        black 1px,
        transparent 1px
      ),
      repeating-linear-gradient (to bottom, black 1px, transparent 1px);
    /* linear-gradient(135deg, #4a90e2, #9013f3); */
    /* background-size: 50% 100%, 100% 50%, 100% 100%; */
    height: 100vh;
  }
}
=======
@import "tailwindcss";
>>>>>>> 237ce72a27ab12616fd2bf65c8ebaee74f3281bb
